{% load static %}
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="foo-grids">
        <div class="col-md-6 footer-grid">
          <h4 class="footer-head">Quiénes somos</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
        </div>
        <div class="col-md-6 footer-grid">
          <h4 class="footer-head">Contáctanos</h4>
          <span class="hq">Our headquarters</span>
          <address>
            <ul class="location">
              <li><span class="glyphicon glyphicon-map-marker"></span></li>
              <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
              <div class="clearfix"></div>
            </ul>	
            <ul class="location">
              <li><span class="glyphicon glyphicon-earphone"></span></li>
              <li>+0 561 111 235</li>
              <div class="clearfix"></div>
            </ul>	
            <ul class="location">
              <li><span class="glyphicon glyphicon-envelope"></span></li>
              <li><a href="mailto:info@example.com">mail@example.com</a></li>
              <div class="clearfix"></div>
            </ul>						
          </address>
        </div>
        <div class="clearfix"></div>
      </div>						
    </div>	
  </div>	
  <div class="footer-bottom text-center">
  <div class="container">
    <div class="footer-logo">
      <a href="index.html"><span>O</span>Clock</a>
    </div>
    <div class="footer-social-icons">
      <ul>
        <li><a class="facebook" href="#"><span>Facebook</span></a></li>
        <li><a class="twitter" href="#"><span>Twitter</span></a></li>
      </ul>
    </div>
    <div class="copyrights">
      <p> © 2020 Resale. All Rights Reserved | Development by  <a href="http://kubelik.com/"> Kubelik</a></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</footer>