{% load static %}
<!-- jQuery 3 -->
<script type="text/javascript" src="{% static 'core/js/jquery.min.js' %}"></script>

<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap-select.js' %}"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="{% static 'core/js/jquery.leanModal.min.js' %}"></script>
<link href="{% static 'core/css/jquery.uls.css' %}" rel="stylesheet"/>
<link href="{% static 'core/css/jquery.uls.grid.css' %}" rel="stylesheet"/>
<link href="{% static 'core/css/jquery.uls.lcd.css' %}" rel="stylesheet"/>
<!-- Source -->
<script src="{% static 'core/js/jquery.uls.data.js' %}"></script>
<script src="{% static 'core/js/jquery.uls.data.utils.js' %}"></script>
<script src="{% static 'core/js/jquery.uls.lcd.js' %}"></script>
<script src="{% static 'core/js/jquery.uls.languagefilter.js' %}"></script>
<script src="{% static 'core/js/jquery.uls.regionfilter.js' %}"></script>
<script src="{% static 'core/js/jquery.uls.core.js' %}"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
    <script src="js/tabs.js"></script>
	
<script type="text/javascript">
$(document).ready(function () {    
var elem=$('#container ul');      
	$('#viewcontrols a').on('click',function(e) {
		if ($(this).hasClass('gridview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('list').addClass('grid');
				$('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
				$('#viewcontrols .gridview').addClass('active');
				$('#viewcontrols .listview').removeClass('active');
				elem.fadeIn(1000);
			});						
		}
		else if($(this).hasClass('listview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('grid').addClass('list');
				$('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
				$('#viewcontrols .gridview').removeClass('active');
				$('#viewcontrols .listview').addClass('active');
				elem.fadeIn(1000);
			});									
		}
	});
});
</script>
