{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<section class="content-header">
  <h1>
    {% block title_table %}{% endblock %}
  </h1>
</section>
<section class="content">
	<div class="box">
		<div class="box-header">
            {% if object_list %}
			    <h3 class="box-title ">Listado</h3>
            {% else %}
                <h3 class="box-title">Sin elementos para mostrar.</h3>
            {% endif %}
		</div>
		<div class="box-body">
            <div class="col-lg-1">
	            <a class= "btn btn-primary" href="{% block model_url_new %}{% endblock %}"><i class="fa fa-fw fa-plus"></i></a>
            </div>
            <div class="col-lg-2">
	            <a class= "btn btn-primary" href="{% block model_url_print %}{% endblock %}"><i class="fa fa-fw fa-print"></i></a>
            </div>
         </div>   
        {% block filters %}
            {% include 'core/base/crud/filters/base_filter_model.html' %}
        {% endblock %}
               
    <!-- /.box-header -->
		{% if object_list %}
		<div class="box-body">
			{% block table_content %}{% endblock %}
    
			{% include 'core/includes/pagination.html' %} 
		</div>
		<!-- /.box-body -->
		{% endif %}
 
   </div>
    <!-- /.box -->
</section>
{% endblock %}

{% block js_page %}

{% endblock %}
