{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block banner %}
  {% include 'core/includes/header_banner.html' %}
{% endblock %}
{% block content %}
<div class="select-box">
  <form action="" method="post"> {% csrf_token %}
    <div class="select-city-for-local-ads ads-list">
      <label>Selecciona la ciudad para el show</label>
        {{ main_search_form.city }}
    </div>
    <div class="browse-category ads-list">
      <label>Navega los eventos</label>
      {{ main_search_form.event }}
    </div>
    <div class="search-product ads-list">
      <label>Busca por un show específico </label>
      <div class="search">
        <div id="custom-search-input">
        <div class="input-group">
          {{ main_search_form.name }}
          <span class="input-group-btn">
            <input class="btn btn-info btn-lg" type="submit" value="Buscar" name="{{ main_search_form.prefix }}">
          </span>
        </div>
      </div>
      </div>
    </div>
    <div class="clearfix"></div>
</form>
</div>

<div class="side-bar col-md-3">
  <div class="search-hotel">
    <h3 class="sear-head">Nombre del show</h3>
    <form action="">
      <input type="text" placeholder="Nombre del show..." required="">
      <input type="submit" value=" ">
    </form>
  </div>
			
  <div class="brand-select">
    <h3 class="sear-head">Tipo de show</h3>
    <form action="">
      <select class="selectpicker" data-live-search="">
        <option data-tokens="All">Todos</option>
        <option data-tokens="Full-Time">Circo</option>
        <option data-tokens="Part-Time">Malabarismo</option>
      </select>
      </form>
  </div>
  <div class="featured-ads">
  <h2 class="sear-head fer">Tal vez te interese...</h2>
  <div class="featured-ad">
    {% for show in adds_shows %}
      <a href="{% url 'shows:show' show.slug_name %}">
        <div class="featured-ad-left">
	{% if show.picture %}
          <img src="{{ show.picture.url }}" alt="{{ show.name }}" />
	{% endif %}
        </div>
        <div class="featured-ad-right">
          <h4>{{ show.name|truncatechars:55 }}</h4>
          <p>{{ show.city }}</p>
        </div>
        <div class="clearfix"></div>
      </a>
    {% endfor %}
  </div>

  <div class="clearfix"></div>
  </div>
</div>

<div class="ads-display col-md-9">
  <div class="wrapper">					
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
        <span class="text">Shows</span>
        </a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
    
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
        <div>
          <div id="container">

            <ul class="list">
              {% for show in shows_list %}
              	<a href="{% url 'shows:show' show.slug_name %}">
                <li>
			<img src="{{ show.picture.url  }}">
                  	<section class="list-left">
                    		<h5 class="title" style="margin-bottom: .8em;">{{ show.name }}</h5>
                    		<h4>{{ show.description|truncatechars:160 }}</h4>
                    		<p class="catpath">{{ show.event }}</p>
                    	</section>
                    	<section class="list-right review-rating">
			{% if show.rate %}
			    <i class="fa fa-star{% if show.rate < 1 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 2 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 3 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 4 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 5 %}-o empty{% endif %}"> </i>
			 {% else %}
				<span class="p-price">Sin ranking para este show.</span>
			 {% endif %}
                    		<span class="cityname" style="margin-top: 4em;">{{ show.city }}</span>
                    	</section>
                    	<div class="clearfix"></div>
                </li>
            	</a>
            {% endfor %}
            </ul>
            
          </div>
        </div>
      </div>

    <ul class="pagination pagination-sm">
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">Next</a></li>
    </ul>
    </div>
  </div>
</div>
</div>
<div class="clearfix"></div>
{% endblock %}
