{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block banner %}
  {% include 'core/includes/header_banner.html' %}
{% endblock %}
{% block content %}
<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <h2>{{ show.name }}</h2>
                <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">{{ show.city.state }}</a>, <a href="#">{{ show.city }}</a></p>
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{ show.picture.url }}">
                            <img src="{{ show.picture.url }}" />
                        </li>
                        <li data-thumb="{{ show.picture.url }}">
                            <img src="{{ show.picture.url }}" />
                        </li>
                        <li data-thumb="{{ show.picture.url }}">
                            <img src="{{ show.picture.url }}" />
                        </li>
                    </ul>
                </div>
                <!-- FlexSlider -->
                  <script defer src="{% static 'core/js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'core/css/flexslider.css' %}" type="text/css" media="screen" />

                    <script>
                // Can also be used with $(document).ready()
                $(window).load(function() {
                  $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                  });
                });
                </script>
                <!-- //FlexSlider -->
                <div class="product-details">
                    <h4>Artista : <a href="#">{{ show.name }}</a></h4>
		    <h4>Visitas : <strong>{{ show.views }}</strong></h4>
                    <p><strong>Descripción</strong> : {{ show.description }}</p>

			<div class="feed-back">
				<div class="condition">
				<h2 class="head">¿Qué opinas del show?</h2>
				<div class="feed-back-form">
		    			<form action="{% url 'shows:show_add_comment' show.slug_name %}" method="post">
                                        	{% csrf_token %}
                                            <textarea name="comment" placeholder="Comentario"></textarea>
					    
                                            <div class="input-rating" style="margin-bottom:1.6em;">
                                                <strong class="text-uppercase">Tu ranking: </strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                                </div>
                                            </div>

                   		 		{% if user.is_authenticated  %}
				 			<input type="submit" value="Enviar"/> 
						{% else %}
							<p>Para comentar <a href="{% url 'login'  %}">loguéate</a>por favor.</p>
                    				{% endif %}
                    			</form>
				<!-- END condition -->
				</div>

			</div>
			<!--END fed-back-form -->
		<h2 class="head">Comentarios</h2>

                    {% if comments %}
          		<div id="container">

            			<ul class="list">
		    		{% for comment in comments %} 
                			<li>       
                  <section class="list-left review-rating">
			  <span style="margin-right:1em;"><i class="fa fa-user" style="margin-right:1em;"></i>{{ comment.user.get_full_name  }}</span>  
			  <span><i class="fa fa-clock-o" style="margin-right:1em;"></i>{{ comment.created|date:"d M Y / G:i"  }}</span>
		    <p class="comment">{{ comment.comment  }}</p>
		    
                    </section>
                    <section class="list-right review-rating">
			    <!-- <span class="cityname" style="margin-top: 0.8em; margin-bottom: 1.6em;">{{ comment.rate  }}</span>--> 
			    <i class="fa fa-star{% if comment.rate < 1 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if comment.rate < 2 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if comment.rate < 3 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if comment.rate < 4 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if comment.rate < 5 %}-o empty{% endif %}"> </i>
                    </section>
                    <div class="clearfix"> </div>           
                </li>

				{% endfor %} 
            
            </ul>
            
          </div>
        

                    {% else %} 
                        <p>No hay comentarios para este show.</p>
                    {% endif %}
		<!--END feed-back -->
			</div>
                
                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="product-price review-rating">
                        <p class="p-price">Ranking</p>
			{% if show.rate %}
			    <i class="fa fa-star{% if show.rate < 1 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 2 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 3 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 4 %}-o empty{% endif %}"> </i>
			    <i class="fa fa-star{% if show.rate < 5 %}-o empty{% endif %}"> </i>
			 {% else %}
				<span class="p-price">Sin ranking para este show.</span>
			 {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="condition">
                        <p class="p-price">Condition</p>
                        <h4>Good</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="itemtype">
                        <p class="p-price">Tipo de evento</p>
                        <h4>{{ show.event }}</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center">
                    <h4>Interesado en este show?<small> Contacta para tenerlo!</small></h4>
                    <p><i class="glyphicon glyphicon-earphone"></i>{{ show.user.phone_number|default:"Sin número de contacto para este show." }}</p>
                </div>
                    <div class="tips">
                    <h4>Redes sociales</h4>
                        <ol>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                        </ol>
                    </div>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//single-page-->
{% endblock %}
