{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css_page %}
{% endblock %}

{% block body_page %}
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% include 'core/includes/header.html' %}
    <div id="page-wrapper" class="sign-in-wrapper">
      <div class="graphs">
        <div class="sign-in-form">
          <div class="sign-in-form-top">
            <h1>Ingreso</h1>
          </div>
          <div class="signin">
            <div class="signin-rit">
              <span class="checkbox1">
                 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Perdiste contraseña?</label>
              </span>
              <p><a href="{% url 'password_reset' %}">Click Aquí</a> </p>
              <div class="clearfix"> </div>
            </div>

              <form action="" method="post"><div class="log-input">{% csrf_token %}</div>
                {% if form.non_field_errors %}
                   <div class="callout callout-danger alert alert-dismissible">
                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       <h4><i class="icon fa fa-ban"></i> Error!</h4>
                       Usuario o contraseña incorrectos, prueba de nuevo.
                     </div>
                 {% endif %}

                <div class="log-input">
                  <div class="log-input-left">
                    <input type="email" class="user" name="username" maxlength="254" placeholder="E-mail"
                      id="id_username" required autofocus/>
                  </div>
                  
                  <div class="clearfix"> </div>
                </div>

                <div class="log-input">
                  <div class="log-input-left">
                    <input type="password" class="lock" name="password" 
                        id="id_password" placeholder="Password" required/>
                  </div>
                  <div class="clearfix"> </div>
                </div>

                <input type="submit" value="Ingresar">
            </form>	 
          </div>
          <div class="new_people">
            <h2>Para nuevas personas</h2>
            <p>Con experiencia práctica en la creación de diseños innovadores, ofrezco soluciones de diseño que aprovechan.</p>
            <a href="{% url 'registration:signup' %}">Registrarse!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END wrapper -->
  </div>
  <!-- Archivos js propios de cada página -->
  {% block js_page %}
    {% include 'registration/includes/js.html' %}
  {% endblock %}
</body>
{% endblock %}