{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<section class="content-header">
  <h1>
    Perfil de usuario
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'core:home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Perfil</a></li>
    <li class="active">Cambiar contraseña</li>
  </ol>
</section>
<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
            </ul>
            <div class="tab-content">

              <h2 class="page-header">Restablecer contraseña</h2>            
              <p class="help-block">¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>

              <div class="active tab-pane" id="perfil">

                <form class="form-horizontal" action="" method="post">{% csrf_token %}

                  <div class="form-group">
                    <label for="id_email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <p class="help-block">{{form.email.errors}}</p>
                      <input type="email" name="email" id="id_email" maxlength="254" 
                            class="form-control" placeholder="Introduce tu email" autofocus="" required="">
                    </div>
                  </div>
 
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary" value="Confirmar">Confirmar</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  <!--</div>-->
  <!-- /.content-wrapper -->
{% endblock %}
