{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
  <!--<div class="content-wrapper">-->
    <!-- Content Header (Page header) -->
    <!--{% if 'change_email' in request.GET %}
      <div class="panel panel-success">
       <div class="panel-heading">Email actualizado exitosamente.</div>
      </div>
    {% endif %}-->
    <section class="trend-ads">
      <h2>
        Perfil de usuario
      </h2>
    </section>

    <div class="side-bar col-md-3">
      
      <div class="featured-ads">
        <h2 class="sear-head fer">{{ user.username }}</h2>
        <h3 class="sear-head text-center">{{ user.email }}</h3>
        <div class="featured-ad">
          <a href="single.html">
            {% if request.user.profile.picture %}
              <img class="profile-user-img img-responsive img-circle text-center" src="{{request.user.profile.picture.url}}" alt="User profile picture" width="130">
            {% else %}
              <img class="profile-user-img img-responsive img-circle" src="{% static 'registration/img/no-avatar.jpg' %}" width="130">
            {% endif %}
            <div class="clearfix"></div>
          </a>
        </div>
      <!-- END featured add -->
      </div>
    <!-- END side bar col-3  -->
    </div>

    <div class="ads-display col-md-9">
      <div class="wrapper">					
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
            <span class="text">Datos del Perfil</span>
            </a>
          </li>
          <li role="presentation" class="next">
            <a href="{% url 'shows:show_edit' %}">
            <span class="text">Datos del Show</span>
            </a>
          </li>
        </ul>

        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            <div>
              <div id="container">

                <ul class="list">
                  <li>
                    <div class="post-ad-form">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Nombre:</h4>
                        </div>
                        <div class="sign-up2">
                          {{ form.first_name }}
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Apellido:</h4>
                        </div>
                        <div class="sign-up2">
                          {{ form.last_name }}
                        </div>
                        <div class="clearfix"> </div>
                      </div>
                      
                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Sitio web:</h4>
                        </div>
                        <div class="sign-up2">
                          {{ form.website }}
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Email:</h4>
                        </div>
                        <div class="sign-up2">
                          <input type="email" id="inputEmail" value="{{ request.user.email }}" readonly>
                          <p class="help-block">Si deseas editar el email haz click <a href="{% url 'registration:profile_email' %}">aquí</a>.</p>
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Contraseña:</h4>
                        </div>
                        <div class="sign-up2">
                          <p class="help-block">Si deseas cambiar la contraseña haz click <a href="{% url 'password_change' %}">aquí</a>.</p>
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Imagen de perfil:</h4>
                        </div>
                        <div class="sign-up2">
                          {{ form.picture }}
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class="sign-u">
                        <div class="sign-up1">
                          <h4>Biografía:</h4>
                        </div>
                        <div class="sign-up2">
                          {{ form.biography }}
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <input type="submit" value="Actualizar">
                      <div class="clearfix"> </div>
                    </form>
                  </div>
                  </li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <!-- END col-9 -->
  </div>
{% endblock %}
