{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block css_page %}
{% endblock %}

{% block body_page %}
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
{% include 'core/includes/header.html' %}
  <div id="page-wrapper" class="sign-in-wrapper">
    <div class="graphs">
      <div class="sign-up">
        <h1>Crear una cuenta</h1>
        <p class="creating">Con experiencia práctica en la creación de diseños innovadores, ofrezco soluciones de diseño que aprovechan.</p>
        <h2>Información personal</h2>
        <form action="" method="post">{% csrf_token %}
          
          {% if form.non_field_errors %}
            <div class="callout callout-danger alert alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                Email o contraseña incorrectos, prueba de nuevo.
              </div>
          {% endif %}
        
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Email* :</h4>
          </div>
          <div class="sign-up2">
            {{form.email}}
              {% if form.email.help_text %}
                <small style="color: grey">{{ form.email.help_text }}</small>
              {% endif %}
              {% for error in form.email.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
              <!--<input type="text" placeholder=" " required=" "/>-->
            
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Contraseña* :</h4>
          </div>
          <div class="sign-up2">
            {{form.password1}}
            {% if form.password1.help_text %}
              <small style="color: grey">{{ form.password1.help_text }}</small>
            {% endif %}
            {% for error in form.password1.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}  
              <!-- <input type="password" placeholder=" " required=" "/> -->
            
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Repetir contraseña* :</h4>
          </div>
          <div class="sign-up2">
            {{form.password2}}
              {% if form.password2.help_text %}
                <small style="color: grey">{{ form.password2.help_text }}</small>
              {% endif %}
              {% for error in field.form.password2 %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}  
            
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Nombres* :</h4>
          </div>
          <div class="sign-up2">
            {{form.first_name}}
              {% if form.first_name.help_text %}
                <small style="color: grey">{{ form.first_name.help_text }}</small>
              {% endif %}
              {% for error in field.form.first_name %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}  
            
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sign-u">
          <div class="sign-up1">
            <h4>Apellido* :</h4>
          </div>
          <div class="sign-up2">
            {{form.last_name}}
              {% if form.last_name.help_text %}
                <small style="color: grey">{{ form.last_name.help_text }}</small>
              {% endif %}
              {% for error in field.form.last_name %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}  
            
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="sub_home">
          <div class="sub_home_left">
            
              <input type="submit" value="Crear">
            
          </div>
          <div class="sub_home_right">
            <p>Volver a <a href="{% url 'core:home' %}">Home</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>

        </form>
      </div>
    </div>
  </div>
  
  <!-- END wrapper -->
</div>
  <!-- Archivos js propios de cada página -->
  {% block js_page %}
  {% endblock %}
</body>
{% endblock %}
