{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block css_page %}
  {% include 'registration/includes/css.html' %}
{% endblock %}

{% block body_page %}
<body class="hold-transition login-page">
  <div class="login-box">
  |<div class="login-logo">
    <a href="{% url 'core:home' %}%"><b>Admin</b>KBE</a>
    </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Regístrate para iniciar sesión</p>

    <form action="" method="post">{% csrf_token %}
     
     {% if form.non_field_errors %}
        <div class="callout callout-danger alert alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Error!</h4>
            Usuario o contraseña incorrectos, prueba de nuevo.
          </div>
      {% endif %}

      <div class="form-group has-feedback">
          {{form.username}}
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          
            {% if form.username.help_text %}
              <small style="color: grey">{{ form.username.help_text }}</small>
            {% endif %}
            {% for error in form.username.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
      </div>

      <div class="form-group has-feedback">
        {{form.email}}
            {% if form.email.help_text %}
              <small style="color: grey">{{ form.email.help_text }}</small>
            {% endif %}
            {% for error in form.email.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        {{form.password1}}
            {% if form.password1.help_text %}
              <small style="color: grey">{{ form.password1.help_text }}</small>
            {% endif %}
            {% for error in form.password1.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        {{form.password2}}
            {% if form.password2.help_text %}
              <small style="color: grey">{{ form.password2.help_text }}</small>
            {% endif %}
            {% for error in field.form.password2 %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        {{form.first_name}}
            {% if form.first_name.help_text %}
              <small style="color: grey">{{ form.first_name.help_text }}</small>
            {% endif %}
            {% for error in field.form.first_name %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        {{form.last_name}}
            {% if form.last_name.help_text %}
              <small style="color: grey">{{ form.last_name.help_text }}</small>
            {% endif %}
            {% for error in field.form.last_name %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Acepto los términos
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Registrarme</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  <div class="social-auth-links text-center">
  <p>- O -</p>
  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
    Facebook</a>
  <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
    Google+</a>
  </div>
  <!-- /.social-auth-links -->
  <a href="{% url 'login' %}" class="text-center">Ya soy miembro</a>
  </div>
  <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- Archivos js propios de cada página -->
  {% block js_page %}
    {% include 'registration/includes/js.html' %}
  {% endblock %}
</body>
{% endblock %}
